/*
* Custom Leto V1.0 
* Copyright 20w0, Gary Leatherman
* www.macmonkey.tv
*/


/* #Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: left;
}

body {
    font-family: 'Work Sans', sans-serif;
}

#filter li a {
    font-family: 'Work Sans', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
}

a.tipped {
    font-family: 'Work Sans', sans-serif !important;
}


/* #MISC
================================================== */

.cd-primary-nav-trigger {
    display: none;
}

.padding-bottom {
    padding-bottom: 50px;
}

.padding-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-social li a.linkedin:hover {
    color: #2867b2;
}

.footer-social li a.youtube:hover {
    color: #FF0000;
}

.footer-social li a.twitter:hover {
    color: #00b6f1;
}

.footer-social li a.facebook:hover {
    color: #3b5998;
}

.footer-social li a.google:hover {
    color: #df4a32;
}

.footer-social li a.vimeo:hover {
    color: #1ab7ea;
}

.footer-social li a.envato:hover {
    color: #81B441;
}

.colord-text-top {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 4vh;
}


/* LUCY PROJECT PAGE */

.image-parallax>img {
    width: 120%;
}