/*
* Custom Leto V1.0 
* Copyright 20w0, Gary Leatherman
* www.macmonkey.tv
*/


/* #Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: left;
}

body {
    font-family: 'Work Sans', sans-serif;
}

#filter li a {
    font-family: 'Work Sans', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
}

a.tipped {
    font-family: 'Work Sans', sans-serif !important;
}


/* #MISC
================================================== */

.cd-primary-nav-trigger {
    display: none;
}

.padding-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-social li a.linkedin:hover {
    color: #2867b2;
}

.footer-social li a.youtube:hover {
    color: #FF0000;
}

.footer-social li a.twitter:hover {
    color: #00b6f1;
}

.footer-social li a.facebook:hover {
    color: #3b5998;
}

.footer-social li a.google:hover {
    color: #df4a32;
}

.footer-social li a.vimeo:hover {
    color: #1ab7ea;
}

.footer-social li a.envato:hover {
    color: #81B441;
}

.colord-text-top {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 4vh;
}


/* LUCY PROJECT PAGE */

.image-parallax>img {
    width: 120%;
}


/* AUDIO PLAYER CSS  */

#myProgress {
    width: 420px;
    background-color: #d9d9f2;
    cursor: pointer;
    border-radius: 10px;
}

#myBar {
    width: 0%;
    height: 5px;
    background-color: #ffc266;
    border-radius: 10px;
}

.logo {
    fill: red;
}

.btn-action {
    cursor: pointer;
    padding-top: 10px;
    width: 30px;
}

.btn-ctn,
.infos-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-ctn {
    padding-top: 20px;
}

.btn-ctn>div {
    padding: 5px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.infos-ctn>div {
    margin-bottom: 8px;
    color: #ffc266;
}

.first-btn {
    margin-left: 3px;
}

.duration {
    margin-left: 10px;
}

.title {
    margin-left: 10px;
    width: 210px;
    text-align: center;
}

.player-ctn {
    border-radius: 15px;
    width: 420px;
    padding: 10px;
    background-color: #373737;
    margin: auto;
    margin-top: 50px;
}

.playlist-track-ctn {
    display: flex;
    background-color: #464646;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.playlist-track-ctn:last-child {
    /*border: 1px solid #ffc266; */
}

.playlist-track-ctn>div {
    margin: 10px;
}

.playlist-info-track {
    width: 80%;
}

.playlist-info-track,
.playlist-duration {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #e9cc95;
    font-size: 14px;
    pointer-events: none;
}

.playlist-ctn {
    padding-bottom: 20px;
}

.active-track {
    background: #4d4d4d;
    color: #ffc266 !important;
    font-weight: bold;
}

.active-track>.playlist-info-track,
.active-track>.playlist-duration,
.active-track>.playlist-btn-play {
    color: #ffc266 !important;
}

.playlist-btn-play {
    pointer-events: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fas {
    color: #ffc266;
    font-size: 20px;
}


/* social carousel css */


/* SWIPER JS */

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    height: auto;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-section {
    max-width: 1920px;
}

.video-section.square {
    max-width: 1028px;
}


/* .swiper-wrapper {
    align-items: stretch
} */


/* MEDIA QUERIES  */

@media only screen and (max-width: 415px) {
    h2 {
        font-size: 24px;
    }
}